body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bG9naW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size:cover;
}
.box{
    width: 300px;
    padding:30px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0,4);
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type="text"],.box input[type="password"]
{
    border: 0;
    background:none;
    display: block;
    margin:20px;
    text-align: center;
    border: 3px solid #0367fd;
    padding:14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;

}

.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 270px;
    border-color: darkgoldenrod;
}
.box input[type="submit"]{
    border: 0;
    background:none;
    display: block;
    margin:20px;
    text-align: center;
    border: 3px solid #0367fd;
    padding:14px 25px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: darkgoldenrod;
}